@model Backend_ASP.NET.Models.SignUpModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="card card-primary">
            <div class="card-header">
                <h2 class="card-title">Đăng ký tài khoản</h2>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form asp-action="Create" asp-controller="Admin" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                        <label for="PhoneNumber">Số điện thoại</label>
                        <input type="text" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="form-group">
                        <label for="FirstName">Họ</label>
                        <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" placeholder="Nhập họ">
                    </div>
                    <div class="form-group">
                        <label for="LastName">Tên</label>
                        <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" placeholder="Nhập tên">
                    </div>

                    <div class="form-group">
                        <label for="Email">Địa chỉ email</label>
                        <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" placeholder="Nhập địa chỉ email">
                    </div>

                    
                    <div class="form-group">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="Password" value="@Model.Password" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nhập lại Mật khẩu</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" name="ConfirmPassword" value="@Model.ConfirmPassword" placeholder="Nhập lại mật khẩu">
                    </div>
                   
                    <div class="form-group">
                        <label for="exampleInputFile">Tải lên ảnh đại diện</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Chọn tệp</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Tải lên</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>
